extends ../../layouts/layout

block title
  | Ruang Kelas

block csslink
  link(rel='stylesheet' href='/iso/css/class.css')

block content
  #index-page
  //- .row  
  //-   .col-lg-8 
  //-     #left-container
  //-   .col-lg-4
  //-     #right-container
block script
  script(src='/iso/js/class/join.js')
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript")

block js
  script.
    const token = "#{token}"
    const id = "#{id}"