extends ../../layouts/layout

block title
  | Form Pertanyaan Wawancara

block csslink
  link(rel='stylesheet' href='/iso/css/mwawancara.css')

block content
  #index-page

block script
  script(src='/iso/js/mwawancara/form.js')
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript")

block js
  script.
    const token = "#{token}"
    window.pageId = "#{id}";