doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Register - ISO Jepang

    link(rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css")
    link(rel="stylesheet" href="iso/css/register.css")
  body 
    .wrapper
      .wrapper-content 
        img.logo(src="iso/images/logo-iso.png" alt="logo-iso")
        #register-card

    script(src="assets/js/lib/iconify-icon.min.js")
    script(src="https://cdn.webix.com/edge/webix.js" type="text/javascript") 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript") 
    script(src="iso/js/register.js")
