extends ../../layouts/layout

block title
  | Form Manajemen Kelas

block csslink
  link(rel='stylesheet' href='/iso/css/mkelas.css')

block content
  #index-page

block script
  script(src='/iso/js/mkelas/form.js')
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript")
  script(src="//cdn.webix.com/components/edge/ckeditor5/ckeditor5.js" type="text/javascript")

block js
  script.
    const token = "#{token}"
    window.pageId = "#{id}";